.idea/*
.idea/
build/
build/*
dist/
dist/*
*__pycache__*
mason.egg-info/*
.mypy_cache/
.mypy_cache/*
mason/api/swagger.yml
.env
.DS_Store
venv/
venv/**/*
.direnv/
pip-wheel-metadata/
pip-wheel-metadata/*
.direnv/**/*
.direnv/*
htmlcov/
htmlcov/*
.tmp/
.tmp/*
