include mason/operators/schema.json
include mason/configurations/schema.json
include mason/clients/*/schema.json
include mason/workflows/schema.json
include mason/parameters/schema.json
include mason/parameters/workflow_schema.json
include mason/clients/spark/runner/kubernetes_operator/base_config.yaml
