attrs==19.3.0
boto3==1.12.11
botocore==1.15.11
Click==7.0
docutils==0.15.2
fsspec==0.6.2
importlib-metadata==1.5.0
jmespath==0.9.5
jsonschema==3.2.0
pyrsistent==0.15.7
python-dateutil==2.8.1
PyYAML==5.3
s3fs==0.4.0
s3transfer==0.3.3
six==1.14.0
tabulate==0.8.6
urllib3==1.25.8
zipp==3.0.0
